:root {
    --bg-dark: hsl(0 0% 5%);
    --bg: hsl(0 0% 10%);
    --bg-light: hsl(0 0% 20%);
    --border: hsl(0 0% 35%);
    --text: hsl(0 0% 90%);
    --text-pastel: hsl(0 0% 75%);
    --action-primary: hsl(40 75% 50%); /* AAA : 8.44 - bg-dark, 7.56 - bg / AA 5.49 bg-light */
    --action-secondary: hsl(200 75% 75%); /* AAA 11,42 - bg-dark, 10.23 - bg, 7,42 - bg-light */
}

/* Adding new Fonts */
/* Monospace */
@font-face {
    font-family: "WenkaiMono";
    src: url("./res/fonts/monospace/LXGWWenKaiMonoTC-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "KodeMono";
    src: url("./res/fonts/monospace/KodeMono-VariableFont_wght.ttf");
    font-display: swap;
}

/* Sans-Serif */
@font-face {
    font-family: "Inter";
    src: url("./res/fonts/sans-serif/Inter-VariableFont_whgt.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./res/fonts/sans-serif/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("./res/fonts/sans-serif/Rubik-VariableFont_wght.ttf");
    font-display: swap;
}

/* Serif */
@font-face {
    font-family: "Lora";
    src: url("./res/fonts/serif/Lora-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("./res/fonts/serif/Merriweather-VariableFont.ttf");
    font-display: swap;
}

/* Manuscript */
@font-face {
    font-family: "DancingScript";
    src: url("./res/fonts/manuscript/DancingScript-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Satisfy";
    src: url("./res/fonts/manuscript/Satisfy-Regular.ttf");
    font-display: swap;
}

/* Small Reset */
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "KodeMono";
    cursor: default;
}

/* Style that will be kept between all the pages */

body {
    color: var(--text-pastel);
    background-color: var(--bg);
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-columns: 0rem 1fr;
    grid-template-rows: 7rem 1fr 7rem;
    grid-template-areas: 
    "nav banner"
    "nav content"
    "nav footer";

    transition: grid-template-columns .3s ease-in-out;
}

body.nav-expand {
    grid-template-columns: 10rem 1fr;
}

h1 {
    font-size: clamp(1.75rem, 1.6rem + 0.75vw, 2.5rem);
}

h2 {
    font-size: clamp(1.375rem, 1.2125rem + 0.8125vw, 2.1875rem);
}

nav h2, h3 {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
}

h1, h2, h3 {
    color: var(--text);
    font-family: "Inter";
}

main {
    grid-area: content;
    background-color: var(--bg-light);
}

.banner {
    grid-area: banner;
}

.banner, footer {
    justify-self: center;
    align-self: center;
}

.banner span, footer span {
    color: var(--action-primary);
}

footer {
    grid-area: footer;
}

/* Side Navigation Section */

nav {
    position: relative;
    grid-area: nav;
    background-color: var(--bg-dark);
}

nav ul, nav h2 {
    overflow: hidden;
}

nav h2 {
    font-family: "KodeMono";
    text-align: center;
    padding: 10px 0;
}

.nav-sidebar {
    padding-top: 2.5rem;
}

.skip-to-content {
    z-index: 10;
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translateY(0);
    transition: transform .3s ease-in-out;
}

.skip-to-content:not(:focus) {
    transform: translateY(-5rem);
}

nav ul li{
    list-style: none;
    padding: 3px 15px;
}

.nav-sidebar a, .skip-to-content {
    color: var(--action-primary);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: letter-spacing .3s ease, outline .3s ease-in-out;
}

.nav-sidebar a:hover, .nav-sidebar a.active, .nav-sidebar a:focus-visible {
    letter-spacing: 1.5px;  
}

.nav-sidebar a.active {
    text-decoration: underline 2px;
}

.nav-sidebar a:focus-visible, .skip-to-content:focus {
    outline: 2px var(--action-primary) solid;
}

#resize-nav {
    position: absolute;
    inset: 3.5rem -20px auto auto;
    align-items: center;
    border-radius: 50%;
    border: transparent 3px solid;
    cursor: pointer;
    transition: border-color .3s ease-in-out;
}

#resize-nav:hover, #resize-nav:focus-visible {
    border-color: var(--action-primary);
    outline: none;
}

/* Content zone behavior */

section.container {
    margin: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    
    gap: 15px;
    justify-items: center;
    align-items: center;
}

p, cite {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}